<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                      <img class="landing-logo" src="../img/logo_transparent2.png" alt="">
                        <h1></h1>
                        <h2 class="landing-tagline" >Good things like Wine take time to ripen. Coming Soon.
                        </h2>
                        <!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_follow_toolbox"></div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <img src="/img/demo-screen-1.png" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</header>
